* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;

    grid-template-areas: 
    'header header nav'
    'sect1 sect2 nav'
    ;
    

    gap: 30px;

    grid-template-columns: 3fr 3fr 450px;
    grid-template-rows: 2fr 2fr 300px;
}

header {
    border: 1px;
    background-color: red;
    text-align: center;
    align-content: center;
}

.sect1 {
    border: 1px;
    background-color: darkolivegreen;
    text-align: center;
    align-content: center;
}

.sect2 {
    border: 1px;
    background-color: darkgreen;
    text-align: center;
    align-content: center;
}

nav {
    border: 1px;
    background-color: rgb(255, 174, 0);
    text-align: center;
    align-content: center;
}

header {
    grid-area: header;
}

.sect1 {
    grid-area: sect1;
}

.sect2 {
    grid-area: sect2;
}

nav {
    grid-area: nav;
}