button {
    color: azure;
}

.button-2 {
    color: blue;
}

#button-3 {
    color: cadetblue;
}

#button-4 {
    color: blueviolet;
}

#button-5 {
    color: darkblue;
}

#button-6 {
    color: plum;
}

#button-7 {
    color: burlywood;
}