.class {
    font-family: monospace;
    font-size: large;
    font-weight: 200;
}

/*font-family-ცვლის ტექსტის სტილს და ცვლის ტუ როგორ გამოიყურება იგი.
font-size-ცვლის ასოების სიდიდეს.ამ შემთხვევაში ასოები იქნებიან დიდები.
font-weight-ცვლის თუ როგორი მუქია ასოები.ამ შემთხვევაში ის უფრო ღია იქნება.*/

#header2 {
    font-family:Times;
    font-size: larger;
    font-weight: 300;
}

/*font-family-ცვლის ტექსტის სტილს და ცვლის ტუ როგორ გამოიყურება იგი.
font-size-ცვლის ასოების სიდიდეს.ამ შემთხვევაში ასოები იქნებიან ძალიან დიდები.
font-weight-ცვლის თუ როგორი მუქია ასოები.ამ შემთხვევაში ის საშუალოზე ცოტა იფრო მუქი იქნება.*/

#header3 {
    font-family:cursive;
    font-size: small;
    font-weight: 700;
}

/*font-family-ცვლის ტექსტის სტილს და ცვლის ტუ როგორ გამოიყურება იგი.
font-size-ცვლის ასოების სიდიდეს.ამ შემთხვევაში ასოები იქნებიან პატარები.
font-weight-ცვლის თუ როგორი მუქია ასოები.ამ შემთხვევაში ის ძალიან მუქი იქნება.*/

