body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 5%;
  margin: 20px;
  padding: 20px;
  align-self: center;
}


#btn1 {
  width: 300px;
  margin-bottom: 20px;
  background-color: blue;
}

#btn2 {
  background-color: white;
  color: black;
}

#img1 {
  padding: 0px;
  border-radius: 5%;
}

#div2 {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  border-radius: 10%;
  margin-bottom: 20px;
}

#img2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}